* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    }


html {
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
}
.section-p1 {
    padding: 40px 20px;
}

* {
box-sizing: inherit;
}
*:before, *:after {
box-sizing: inherit;
}

body {
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background:  url('images/bg.png');
background-size: cover;
}

.text-main {
margin-top: 0px;
}
.text-main .h1 {
margin-top: 0;
top: 0;
}
.image-container {
text-align: center;
    display: flex;
    transition: all 0.5s ease;
    align-items: center;
    justify-content: center;
}
.image-container img {
max-width: 100%;
height: 160px;
border-radius: 50%;
margin-left: 20px;
margin-top: -10px;
}
.text-main h1 {
margin-top: -300px;
}

.animated-text {
    font-size: 35px;
    font-weight: 600;
    min-width: 280px;
    margin-bottom: 20px;
    margin-top: -200px;
    text-align: center;
    color: #fef250;
}
.animated-text span {
    position: relative;
}
.animated-text span::before {
    content: "Ready";
    color: #fff;
    animation: words 20s infinite;
}
.animated-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #9835ff;
    border-left: 2px solid #fff;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
    to {
        border-left: 2px solid #f9feff;
    }
}
@keyframes words {
    0%, 20% {
        content: "Sidec hub.";
    }
    21%, 40% {
        content: "our community.";
    }
    41%, 60% {
        content: "Learning hub.";
    }
    61%, 80% {
        content: "Courses hub.";
    }
    81%, 100% {
        content: "success...";
    }
}
@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95% {
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}
.topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  .topleft img {
    max-width: 100%;
    height: 80px;
  }
  
  /* Position text in the bottom-left corner */
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  /* Position text in the middle */
  .middle {
    position: absolute;
    top: 40%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    text-align: center;
   
  }
  
  /* Style the <hr> element */
  hr {
    margin: auto;
    width: 40%;
    height: 1px;
    color: #fff;
  }
  @keyframes launchAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

.rocket {
    animation: launchAnimation 2s infinite;
}

.countdown-container {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.02);
    
}

#countdown {
    font-size: 24px;
    font-weight: bold;
    color: #9835ff;
   
}
#form {
    position: absolute;
    bottom: 80px;
    width: 100%;
    margin-top: -40px;
    padding: 20px;
}
#form .earlyAccessForm label {
    font-size: 18px;
    font-weight: 600;
    color: #f9feff;
}

.earlyAccessForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.earlyAccessForm label,
.earlyAccessForm input,
.earlyAccessForm button {
    margin-bottom: 10px;
}
#form .earlyAccessForm input {
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    outline: none;
}
#form .earlyAccessForm button {
    padding: 10px;
    color: #9835ff;
    font-size: 16px;
    font-weight: 600;
    background-color: #fef250;
    outline: none;
    border: none;
    border-radius: 6px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    cursor: pointer;
}

#contact-icons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    width: 100%;
    margin-top: -40px;
    padding: 20px;
}
#contact-icons {
   gap: 10px;
   font-size: 18px;
   font-weight: 600;
  
}
#contact-icons i {
    color: #9835ff;
} 
#contact-icons i.fa-square-instagram {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}
  /* Add some padding and a grey background color to containers */
 
  
  /* Style the input elements and the submit button */
  
  /* Add margins to the checkbox */


@media (max-width: 799px) {
    .image-container {
    text-align: center;
    display: flex;
    margin: 5px 0 0 10px;
    }  
    .image-container img {
    max-width: 100%;
    height: 110px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: -300px;
    }
    .animated-text {
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: -170px;
    }
    .animated-text span {
        position: relative;
    }
    #form .earlyAccessForm label {
        
        color: #9835ff;
    }
    .middle {
        
        top: 50%;
       
    }
    #form .earlyAccessForm button {
        background-color: #9835ff;
       color: #fff;
    }
}
@media  (max-width: 468px) {
    .animated-text {
        font-size: 26px;
    }
    .countdown-container {
       
        padding: 5px;
        width: 100%;
    }
}