/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #f9feff;
}
.section-p1 {
    padding: 0 80px;
}
.heading {
    padding: 20px 0 15px 20px;
    font-size: 18px;
    color: #393540;
    font-weight: 500;
    border-bottom: 1px solid #f4f0f7;
    margin-bottom: 20px;
}
.ri-fire-fill {
    margin-left: 5px;
    color: #9936ff;
}
.ri-verified-badge-fill {
    margin-left: 5px;
    font-size: 16px;
    color: #9936ff;
}



.flex-btn {
    display: flex;
    gap: 1rem;
}
.btn,
.option-btn,
.delete-btn,
.inline-btn, 
.inline-option-btn,
.inline-delete-btn {
    text-decoration: none;
    border-radius:4px;
    padding: 8px 10px;
    font-size: 16px;
    margin-top: 10px;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center; 
    transition: 0.3s ease;
}
.btn,
.option-btn,
.delete-btn {
    display: block;
    width: 100%;
}
.inline-btn, 
.inline-option-btn,
.inline-delete-btn {
    display: inline-block;
}
.btn,
.inline-btn {
    background-color: #9936ff;
}
.option-btn,
.inline-option-btn {
    background-color: transparent;
    border: 1px solid #393540;
    color: #393540;
}
.delete-btn,
.inline-delete-btn {
    background-color: tomato;
}
.btn:hover,
.option-btn:hover,
.delete-btn:hover,
.inline-btn:hover, 
.inline-option-btn:hover,
.inline-delete-btn:hover {
    transform: translateY(-5px);
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    height: 100%;
    width: 260px;
    transition: all 0.4s ease;
    z-index: 100;
}
.sidebar.close {
    width: 78px;
}
.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details img {
    max-width: 100%;
    height: 30px;
    line-height: 50px;
    margin: 10px 5px 0 25px;
    transition: 0.3 ease;
    transition-delay: 0.1s;
}

.sidebar .logo-details .logo_name {
    font-size: 26px;
    color: #393540;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 10px;
    transition: 0.3s ease;
    transition-delay: 0s;
}
.sidebar.close .logo-details .logo_name {
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
}
.sidebar .nav-links {
    height: 100%;
    padding-top: 30px 0 150px 0;
    overflow: auto;
    
}
.sidebar .nav-links {
    overflow: visible;
}
.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}
.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition:  0.4s ease;
   
}
.sidebar .nav-links li:hover {
    background: #f4f0f7;
   
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.sidebar.close .nav-links li .iocn-link {
    display: block;
}
.sidebar .nav-links li i {
    height: 50px;
    text-align: center;
    color: #393540;
    min-width: 78px;
   line-height: 50px;
   font-size: 24px;
    transition: 0.3s ease;
   cursor: pointer;
}
.sidebar .nav-links li.ShowMenu i.arrow {
    transform: rotate(-180deg);
   
}
.sidebar.close .nav-links  i.arrow {
    display: none;
    transition-delay: 0.2s;
   
}
.sidebar .nav-links li a {
    display: flex;
    text-decoration: none;
    align-items: center;
    
}
.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #393540;
    transition-delay: 0.2s;
    transition: 0.2s ease;
}
.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
    
}
.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #ffffff;
     display: none;
}
.sidebar.close .nav-links li .sub-menu {
    display: none;
}
.sidebar .nav-links li.ShowMenu .sub-menu {
    display: block;
   
}

.sidebar .nav-links::-webkit-scrollbar{
    display: none;
}
.sidebar .nav-links li .sub-menu a {
    color: #393540;
    font-size: 15px;
    opacity: 0.6;
    padding: 5px 0;
    white-space: nowrap;
    transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
    background-color: #fff;
   
  
}
.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    opacity: 0;
    pointer-events: none;
    padding: 10px 20px;
    display: block;
    border-radius: 0 6px 6px 0;
    transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
   opacity: 1;
   display: block;

}
.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
   
}
.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}
.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    padding: 6px 0;
    background-color: #f4f0f7;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    width: 78px;
    background: none;
   
}
.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;

}
.sidebar .profile-details img {
    height: 48px;
    border-radius: 16px;
    width: 48px;
    object-fit: cover;
    margin: 0 14px 0 12px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job,
.sidebar .profile-details i {
    color: #393540;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    transition: all 0.5s ease;
}

.sidebar .profile-details .job {
    font-size: 12px;
    
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}

.home-section {
    left: 260px;
    position: relative;
    width: calc(100% - 260px);
    height: 100vh;
    transition: all 0.5s ease;

}

.home-section .home-content {
  
    height: 60px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: rgb(254, 254, 254);
   
}
.home-section .home-content .ham_menu {
    color: #393540;
    font-size: 33px;
    margin: 0 15px;
    transition: all 0.3s ease;
}
.sidebar.close ~ .home-section {
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.3s ease;
}


.home-section .home-content .flex {
    padding: 1.5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-section .home-content .flex .search-form {
    width: 25rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-radius: 4px;
    padding: 3px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-left: 40px;
    margin-right: 200px;
}
#search-btn {
    display: none;
}
.home-section .home-content .flex .search-form input {
    width: 100%;
    background: none;
    font-size: 16px;
    flex: 1;
    border: none;
    outline: none;
}
.home-section .home-content .flex .search-form button {
    background-color: #9936ff;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    padding: 0.70rem 1.4rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.home-section .home-content .flex .search-form button:hover {
    background-color: #393540;
}
.home-section .home-content .flex .icons {
    display: flex;
    align-items: center;
    /* Adjust the gap between icons as needed */
    margin-left: auto;
    justify-content: flex-end;
    margin-left: 180px;
    color: #393540;
    cursor: pointer;
    gap: 0.75rem;
}
.home-section .home-content .flex .icons div {
    border-radius: 4px;
    height: 35px;
    color:#fff;
    text-align: center;
    align-items: center;
    width: 35px;
    line-height: 35px;
    font-size: 18px;
    background-color: #9936ff;
    transition: all 0.3s ease;
}
.home-section .home-content .flex .icons div:hover {
    background-color: #393540;
}
.home-section .home-content .flex .profile-2 img {
   max-width: 100%; 
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;

}
.home-section .home-content .flex .profile-2 {
    position: absolute;
    top: 90%; right: 2rem;
    background-color: #fff;
    border-radius: 4px;
    padding: 2rem;
    text-align: center;
    width: 20rem;
    box-shadow: 4px 3px 10px rgba(0, 0, 0, .02);
    transform: scale(0);
    transform-origin: top right; transition: .2s linear;
}
.home-section .home-content .flex .profile-2.active {
    transform: scale(1);
}
.home-section .home-content .flex .profile-2 h3 {
    font-size: 20px;
    color: #393540;
}
.home-section .home-content .flex .profile-2 span {
    color: #979292;
}
#quick-select {
    padding: 20px;
    padding-left: 40px;
  
    
}
 #quick-select .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
    
}
#quick-select a {
    text-decoration: none;
}
#quick-select .box-container .box {
    border-radius: 4px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, .02);
}
#quick-select .box-container .box .title {
    font-size: 18px;
    font-weight: 500;
    color: #393540;
}
#quick-select .box-container .box p {
    line-height: 1.5;
    padding-top: 10px;
    color: #8c8787;
    font-size: 15px;
}
#quick-select .box-container .box p span {
    color: #9936ff;
}
#quick-select .box-container .tutor  {
    text-align: center;
} 
#quick-select .box-container p {
    padding-bottom: 5px;
}
#quick-select .box-container .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 5px;
}
#quick-select .box-container .flex a {
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #eee;
    transition: all 0.3s ease;
}
#quick-select .box-container .flex a i {
    margin-right: 10px;
    color: #393540;
}
#quick-select .box-container .flex a span {
    color: #98969d;
}
#quick-select .box-container .flex a:hover {
    background-color: #393540;
}
#quick-select .box-container .flex a:hover i {
    color: white;
}
#quick-select .box-container .flex a:hover span {
    color: #fff;
}















/* Media querries */

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
}
@media (max-width:768px) {
   
  #search-btn {
    display: inline-block;
  }

    .home-section .home-content .flex .search-form {
        position: absolute;
        top: 110%; left: 0; right: 0;
        width: 100%;
        margin-left: -50px;
        border-top: #979292;
        border-bottom: #979292;
        background-color: #fff;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }
    .home-section .home-content .flex .search-form.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .home-section .home-content .flex .profile-2 {
        width: 30rem;
        top: 120%;
    }
    #quick-select {
        padding: 10px;
        padding-left: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    #quick-select .box-container {
        grid-template-columns: 1fr; /* Set the grid to a single column for smaller screens */
        gap: 1.5rem;
    }
}


@media (max-width:499px) {
    html {
        font-size: 50%;
    }
    .home-section .home-content {
        height: 60px;
       width: 100%;
    }
    .home-section .home-content .flex .icons {
        margin-left: 30px;
    }
    .sidebar {
        z-index: 1500;
    }
    .home-section .home-content .ham_menu {
    z-index: 1000;
    }
    .heading {
        font-size: 16px;
    }
   .flex-btn {
    flex-flow: column;
    gap: 0;
    padding: 4px 8px;
   }
    
}