* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.container p {
    color: #343434;
    font-size: 15px;
    font-weight: 500;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9feff;
}
.container {
    padding: 20px 80px;
}
.container .heading {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    text-align: center;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9835ff;
    border-radius: 2px;
    transition: background .3s ease;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #343434;
    
  }
  .first {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    color: #9835ff;
  }
  .first-para {
    background-color: #fff;
    padding: 25px;
    border-radius: 4px;
    border: 1px solid #eee;
    margin-bottom: 20px;
  }
  .first-para p {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
  }
  .second-para {
    margin-bottom: 20px;
  }
  .second-para h3 {
    color: #9835ff;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
  }
  .second-para p {
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
  }
  .main-list {
    padding-left: 40px;
    margin: 20px;
  }
  .main-list li {
    font-size: 16px;
    font-weight: 500;
    color: #9835ff;
    list-style: circle;
    margin-bottom: 10px;
  }
  #warning {
    padding: 20px;
    background-color: #fff3bd; 
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
  }
  #log {
    text-decoration: none;
    background-color: #9835ff;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
  }
  .third {
    margin-bottom: 20px;
  } 
  .privacy_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9835ff;
  }
.main-list_2 {
    color: #343434;
    padding-left: 40px;
    margin: 20px;
}
.main-list_2 li {
    font-size: 16px;
    font-weight: 500;
    color: #343434;
    list-style: circle;
    margin-bottom: 10px;
}
  @media (max-width:768px) {
    .container {
        padding: 15px 40px;
    }
  }
  