/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #f9feff;
    
}
html {
    scroll-behavior: smooth;
}
/* WebKit Scrollbar */
::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the track */
}

::-webkit-scrollbar-thumb {
    background: #9835ff; /* color of the thumb */
    border-radius: 1px; /* roundness of the thumb */
    transition: 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc; /* color of the thumb on hover */
   
}
#mobile_tabs {
    display: none;
}


.section-p1 {
    padding: 0 80px;
}
.heading {
    padding: 20px 0 15px 15px;
    font-size: 18px;
    color: #404660;
    font-weight: 500;
    border-bottom: 1px solid #f4f0f7;
    margin-bottom: 20px;
}
.ri-fire-fill,
.fa-bolt, .fa-money-bill {
    margin-left: 5px;
    color: #9936ff;
}

.ri-verified-badge-fill {
    margin-top: 3px;
    margin-left: 5px;
    font-size: 16px;
    color: #9936ff;
}

/* Botpress */
.bpw-widget-btn {
    background-color: #404660;
    border-radius: 50%;
    box-shadow: none;
}
.bpw-floating-button, .bpw-floating-button:hover {
    background-color: #9936ff !important;
}
.hd2 {
    margin-left: 40px;
}



.flex-btn {
    display: flex;
    gap: 1rem;
}

a.btn,
a.option-btn,
a.delete-btn,
a.inline-btn, 
a.inline-option-btn,
a.inline-delete-btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #9835ff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 12px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none; /* added for links */
}


a.btn span,
a.option-btn span,
a.delete-btn span,
a.inline-btn span, 
a.inline-option-btn span,
a.inline-delete-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}


a.btn span:after,
a.option-btn span:after,
a.delete-btn span:after,
a.inline-btn span:after, 
a.inline-option-btn span:after,
a.inline-delete-btn span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}


a.btn:hover span,
a.option-btn:hover span,
a.delete-btn:hover span,
a.inline-btn:hover span, 
a.inline-option-btn:hover span,
a.inline-delete-btn:hover span {
    padding-right: 14px;
}


a.btn:hover span:after,
a.option-btn:hover span:after,
a.delete-btn:hover span:after,
a.inline-btn:hover span:after, 
a.inline-option-btn:hover span:after,
a.inline-delete-btn:hover span:after {
    opacity: 1;
    right: 0;
}
a.inline-option-btn {
    color: #404660;
    background: transparent;
    border: 1px solid #404660;
    font-weight: 500;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    height: 100%;
    width: 260px;
    transition: all 0.4s ease;
    z-index: 100;
}
.sidebar.close {
    width: 78px;
}
.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details img {
    max-width: 100%;
    height: 30px;
    line-height: 50px;
    margin: 10px 5px 0 25px;
    transition: 0.3 ease;
    transition-delay: 0.1s;
}

.sidebar .logo-details .logo_name {
    font-size: 26px;
    color: #404660;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 10px;
    transition: 0.3s ease;
    transition-delay: 0s;
}
.sidebar.close .logo-details .logo_name {
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
}
.sidebar .nav-links {
    height: 100%;
    padding-top: 30px 0 150px 0;
    overflow: auto;
    
}
.sidebar .nav-links {
    overflow: visible;
}
.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}
.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition:  0.4s ease;
   
}
.sidebar .nav-links li:hover {
    background: #f4f0f7;
   
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.sidebar.close .nav-links li .iocn-link {
    display: block;
}
.sidebar .nav-links li i {
    height: 50px;
    text-align: center;
    color: #404660;
    min-width: 78px;
   line-height: 50px;
   font-size: 24px;
    transition: 0.3s ease;
   cursor: pointer;
}
.sidebar .nav-links li.ShowMenu i.arrow {
    transform: rotate(-180deg);
   
}
.sidebar.close .nav-links  i.arrow {
    display: none;
    transition-delay: 0.2s;
   
}
.sidebar .nav-links li a {
    display: flex;
    text-decoration: none;
    align-items: center;
    
}
.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #404660;
    transition-delay: 0.2s;
    transition: 0.2s ease;
}
.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
    
}
.sidebar .nav-links a.active .link_name {
    color: #9936ff;
    
}
.sidebar .nav-links a.active i {
    color: #9936ff;
}
.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #ffffff;
     display: none;
}
.sidebar .nav-links li .sub-menu a.active {
    color: #9936ff;
    opacity: 1;
}
.sidebar.close .nav-links li .sub-menu {
    display: none;
}
.sidebar .nav-links li.ShowMenu .sub-menu {
    display: block;
   
}

.sidebar .nav-links::-webkit-scrollbar{
    display: none;
}
.sidebar .nav-links li .sub-menu a {
    color: #404660;
    font-size: 15px;
    opacity: 0.6;
    padding: 5px 0;
    white-space: nowrap;
    transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
    background-color: #fff;
   
  
}
.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    opacity: 0;
    pointer-events: none;
    padding: 10px 20px;
    display: block;
    border-radius: 0 6px 6px 0;
    transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
   opacity: 1;
   display: block;

}
.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
   
}
.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    padding: 6px 0;
    background-color: #f4f0f7;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    width: 78px;
    background: none;
   
}
.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;

}
.sidebar .profile-details img {
    height: 48px;
    border-radius: 16px;
    width: 48px;
    object-fit: cover;
    margin: 0 14px 0 12px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job,
.sidebar .profile-details i {
    color: #404660;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    transition: all 0.5s ease;
}

.sidebar .profile-details .job {
    font-size: 12px;
    
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}


.home-section {
    left: 260px;
    position: relative;
    width: calc(100% - 260px);
    height: 100vh;
    transition: all 0.5s ease;

}

.home-section .home-content {
  
    height: 60px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: rgb(254, 254, 254);
   
}
.home-section .home-content .ham_menu {
    color: #404660;
    font-size: 28px;
    margin: 0 15px;
    transition: all 0.3s ease;
    
}
.sidebar.close ~ .home-section {
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.3s ease;
}

 

.home-section .home-content .flex {
    padding: 1.5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-section .home-content .flex .search-form {
    width: 25rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-radius: 4px;
    padding: 3px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-left: 40px;
    margin-right: 200px;
}
#search-btn {
    display: none;
}
.home-section .home-content .flex .search-form input {
    width: 100%;
    background: none;
    font-size: 16px;
    flex: 1;
    border: none;
    outline: none;
}
.home-section .home-content .flex .search-form button {
    background-color: #9936ff;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    padding: 0.70rem 1.4rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.home-section .home-content .flex .search-form button:hover {
    background-color: #404660;
}
.home-section .home-content .flex .icons {
    display: flex;
    align-items: center;
    /* Adjust the gap between icons as needed */
    margin-left: auto;
    justify-content: flex-end;
    margin-left: 180px;
    color: #404660;
    cursor: pointer;
    gap: 0.75rem;
}
.home-section .home-content .flex .icons div {
    border-radius: 4px;
    height: 35px;
    color:#fff;
    text-align: center;
    align-items: center;
    width: 35px;
    line-height: 35px;
    font-size: 18px;
    background-color: #9936ff;
    transition: all 0.3s ease;
}
.home-section .home-content .flex .icons div:hover {
    background-color: #404660;
}
.home-section .home-content .flex .profile-2 img {
   max-width: 100%; 
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;

}
.home-section .home-content .flex .profile-2 {
    position: absolute;
    top: 90%; right: 2rem;
    background-color: #fff;
    border-radius: 4px;
    padding: 2rem;
    text-align: center;
    width: 20rem;
    box-shadow: 4px 3px 10px rgba(0, 0, 0, .02);
    transform: scale(0);
    transform-origin: top right; transition: .2s linear;
}
.home-section .home-content .flex .profile-2.active {
    transform: scale(1);
}
.home-section .home-content .flex .profile-2 h3 {
    font-size: 20px;
    color: #404660;
}
.home-section .home-content .flex .profile-2 span {
    color: #979292;
}
/* Style for the course_home container */
.course_home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0px 20px;
    gap: 10px;
}
.post_container {
    display: flex;
    flex-direction: column;
}
/* Style for scroll to top button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #404660; /* Set a background color */
    color: #fff; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #9835ff; /* Add a dark-grey background on hover */
  }
/* Style for each section */
.section {
  
    
  
}

#section1 {
    margin-top: 10px;
    width: 30%;
    height: 100%;
  display: flex;
  flex-direction: column; 
   background: #fff;
   border-radius: 5px;
   padding: 35px;
    border: 1px solid #eee;
   
}
.course_title {
    font-size: 18px;
    font-weight: 500;
    color: #404660;
   
}

#section1 .img_container {
    width: 60%;
    height: 60%;
    margin-bottom: 40px;
   
}
#section1 .img_container img {
    width: 100%;
    height: 100%;
   margin-left: -50px;
    object-fit: cover;
}
.course_host {
    margin-bottom: 40px;
}
.course_host p {
    font-size: 12px;
    color: #979292;
    font-weight: 400;
}
.course_host p i {
   font-size: 12px;
 
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    color: #404660;
    font-weight: 500;
    cursor: pointer;
  }
  .dropdown {
   
  }
  .rotate {
    transform: rotate(180deg);
  }

  
  .slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  
 
  .dropdown-content {
    display: none;
    margin:  10px 40px 40px 40px;
  
    flex-direction: column;
  }
  
  .dropdown-content button {
   margin-bottom: 10px;
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    color: #404660;
  
  }
  .tablinks  {
    position: relative;
    padding-left: 30px;
  }
  button.active {
    background-color: #efe8f7;
    padding-right: 20px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-right: 3px solid #9835ff;
  }
  .tablinks .check {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust size of the circle */
    height: 20px; /* Adjust size of the circle */
    border-radius: 50%; /* Make it a circle */
    background-color: #ccc; /* Set color of the circle */
    margin-right: 10px; /* Adjust spacing between circle and text */
   
  }
  
 
  /* Add this style to make the dropdown button change color on hover */
 .other_links {
    display: flex;
    flex-direction: column;
   margin-bottom: 20px;
 }
  .other_links li {
    list-style: none;
    margin-top: 20px;
  }
  .other_links li a {
    text-decoration: none;
    color: #404660;
    font-size: 16px;
    font-weight: 500;
    transition: .3s ease;
  }
  .other_links li a:hover {
    color: #9835ff;
  }
  #section2 {
    margin-top: 10px;
    width: 70%;
    height: 100%;
   
  
   
  }
 
/* Core styles/functionality */
#section2 .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    outline: none;
    border: none;
  }
 #section2 .tab__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s;
   
    
  }
#section2  .tab input:checked ~ .tab__content {
    max-height: 150rem;
  }
  
  /* Visual styles */
 #section2 .accordion {
    color: #404660;
    border: 1px solid #eee;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-radius: 8px;
    overflow: hidden;
   background: #fff;
   margin-bottom: 5px;
   
  }
  .sub_accordions {
    display: flex;
    flex-direction: column;
    padding:20px 4rem;
   border-top: 1px solid #eee;
  }
  .accordion_sub {
    
    border: 1px solid #eee;
    margin-bottom: 20px;
  }
  .tab__label,
  .tab__close {
    display: flex;
    color: #404660;
    background: transparent;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    
  }
  
  .tab__label {
    justify-content: space-between;
    padding: 1rem;
  }
 #section2 .tab__label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
  }
 #section2 .tab input:checked + .tab__label::after {
    transform: rotate(270deg);
    
  }
 #section2 .tab__content p {
    margin: 0;
    padding: 1rem;
  }
  #section2 .tab__close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }
 #section2 .accordion--radio {
    --theme: #9835ff;
  }
  
  /* Arrow animation */
 #section2 .tab input:not(:checked) + .tab__label:hover::after {
    animation: bounce .6s infinite;
  }
  @keyframes bounce {
    25% {
      transform: rotate(90deg) translate(.25rem);
    }
    75% {
      transform: rotate(90deg) translate(-.25rem);
    }
  }
  .tab__content .info .home_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-bottom: 1px solid #eee;
  
  }
  .tab__content .info .home_info .info1 {
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .tab__content .info .home_info p {
    font-size: 12px;
    font-weight: 500;
    color: #404660;
    margin-top: -20px;
  }
  .tab__content .info .home_info p span {
    color: #9835ff;
  }
  #ReadMore {
    display: none;
    border-bottom: 1px solid #eee;

  }
    
  .read_container-btn {
  position: relative;
    align-items: center;
   
  }
  .read_container-btn button,
  .read_container-btn i {
      margin-top: 10px;
      transition: .3s ease;
  }
  .read_container-btn button:hover,
  .read_container-btn:hover i {
    color: #404660;
  }
  .module_info p {
      font-size: 16px;
      margin-bottom: 10px;
      border-bottom: 1px solid #eee;
  }
  .read_more{
      margin:0 20px 10px 20px;
      background: transparent;
      outline: none;
      border: none;
      font-size: 16px;
      color: #9835ff;
      cursor: pointer;
      font-weight: 500;
  }
  .read_more_container ul li {
    font-size: 16px;
    padding: 0 20px 20px 40px;
   
  }
  .read_container-btn i {
    color: #9835ff;
    margin-left: -20px;
    font-size: 28px;
    margin-top: 7px;
    position: absolute;
    cursor: pointer;
  }

.quick_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 20px;
    cursor: pointer;
    
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;
    transition: .3s ease;
}

.quick_links:hover {
    background-color: #eee;
}
.quick_links a,
.quick_links .title {
    text-decoration: none;
    color: #9835ff;
    font-size: 16px;
    font-weight: 500;
}
#section2 .quick_links .link_para {
    padding: 0;
    border-bottom: none;
    font-size: 12px;
    font-weight: 500;
}
.quick_links i {
    color: #9835ff;
    margin-right: 10px;
    font-size: 28px;
    margin-top: 6px;
}
.mobile-container {
    display: none;
}
.mobile-container {
    margin: auto;
    height: 100%;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #fff;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  .topnav #title_main {
    color: #fff;
  }
  .topnav a {
    color: #404660;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: #fff;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #fff;
    color: #404660;
  }
  
  .active {
    background-color: #9835ff;
    color: white;
  }

  
/* Media querries */

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
}
@media (max-width:1024px) {
   
  #search-btn {
    display: inline-block;
  }


    .home-section .home-content .flex .search-form {
        position: absolute;
        top: 100%; left: 0; right: 0;
        width: 140%;
        margin-left: -50px;
        border-top: #979292;
        border-bottom: #979292;
        background-color: #fff;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }
    .home-section .home-content .flex .search-form.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .home-section .home-content .flex .profile-2 {
        width: 30rem;
        top: 120%;
    }
    .course_home {
        display: none;
    }
   .mobile-container {
       display: block;
   }
   #section1 {
    margin-top: 0px;
   width: 100%;

   
}
#section2 {
    margin-top: 20px;
    width: 100%;
    
}
.mobile_wrapper{
    padding: 20px ;
}
#section2  .tab input:checked ~ .tab__content {
    max-height: 150rem;
    
  }
  .mobile-dropdown {
    display: block; /* Display mobile dropdown on mobile */
}
  
}


@media (max-width:560px) {
   
    html {
        font-size: 50%;
    }
    
    .home-section .home-content {
        height: 60px;
       width: 100%;
    }
    .home-section .home-content .flex .icons {
        margin-left: 30px;
    }
    .sidebar {
        z-index: 1500;
    }
    .home-section .home-content .ham_menu {
    z-index: 1000;
    }
    
    
    .tab__content .info .home_info {
        display: flex;
       flex-direction: column;
    }
    .tab__content .info .home_info i {
      font-size: 22px;
    }
    .sub_accordions {
      
        padding: 15px 0rem;
        border-top: none;
    }
    .mobile_wrapper {
        padding: 0px;
    }
}