{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'terms.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/03ca4ba95f.js" crossorigin="anonymous"></script>
    <title>Privacy policy</title>
    <link rel="icon" href="{% static 'images/Asset 6.png' %}" type="image/png">
</head>
<body>
   
       
   
<div class="container">
    <div class="second-para">
        <h3 class="heading" style="color: #9835ff;">1. Information We Collect</h3>
        <ul class="main-list_2">
            <li><strong>Personal Information:</strong> When you register for an account or use our platform, we may collect personal information, including but not limited to your name, email address, username, and any other information you choose to provide.</li>
            <li><strong>Usage Information:</strong> We collect information about how you interact with our platform, such as the courses you enroll in, your progress, and your interactions with instructors and other learners.</li>
            <li><strong>Device and Log Information:</strong> We automatically collect device information, including IP addresses, browser types, operating systems, and access times. Our servers also log information about your use of the platform, such as search queries and pages viewed.</li>
        </ul>
    </div>
   <div class="second-para">
    <h3 class="heading" style="color: #9835ff;">2. How We Use Your Information</h3>
    <p>We use the information we collect for the following purposes:</p>
    <ul class="main-list_2">
        <li><strong>To Provide and Improve Our Services:</strong> Your information helps us personalize and improve your learning experience, respond to your requests, and enhance our platform's features.</li>
        <li><strong>Communication:</strong> We may use your email address to send you important information about your account, updates, and promotional materials. You can opt-out of promotional emails at any time.</li>
        <li><strong>Research and Analytics:</strong> We may use your data for research purposes to improve our platform, develop new features, and better understand user behavior.</li>
    </ul>
   </div>

   <div class="second-para">
    <h3 class="heading" style="color: #9835ff;"> 3. Sharing Your Information</h3>
    <ul class="main-list_2">
        <li>We do not sell, trade, or otherwise transfer your personal information to third parties without your consent.</li>
        <li>However, we may share your information with trusted third-party service providers who assist us in operating our platform or conducting our business.</li>
       
    </ul>
   </div>

   <div class="second-para">
    <h3 class="heading" style="color: #9835ff;">4. Security</h3>
    <ul class="main-list_2">
        <li>We employ industry-standard security measures to protect the confidentiality and integrity of your personal information.</li>
        <li>However, no method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee absolute security.</li>
    </ul>
   </div>

   <div class="second-para">
    <h3 class="heading" style="color: #9835ff;">5. Your Choices</h3>
  
    <ul class="main-list_2">
        <li>You can control and customize your privacy settings within your account. </li>
        <li>You may also choose not to provide certain information, but this may limit your ability to use specific features of the platform.</li>
    </ul>
   </div>

   <div class="second-para">
    <h3 class="heading" style="color: #9835ff;">6. Children's Privacy</h3>
    
    <ul class="main-list_2">
        <li>Our platform is not directed to individuals under the age of 13.</li>
        <li>If you are a parent or guardian and believe that your child has provided us with personal information, please contact us, and we will take steps to remove that information.</li>
    </ul>
   </div>

   <div class="first-para">
    <h3 class="heading" style="color: #343434;">7. Changes to This Privacy Policy</h3>
    <p class="first">We reserve the right to update this Privacy Policy at any time. We will notify you of any changes by posting the new policy on this page. Your continued use of the platform after any modifications indicates your acceptance of the changes.</p>
   
   </div>
       
   <div class="first-para">
    <h3 class="heading" style="color: #343434;">8. Contact Us</h3>
        <p class="first">If you have any questions or concerns about our Privacy Policy, please contact us at <span style="color: #9835ff; font-weight: 600;">support@sidecedu.com</span>.</p>
        <p class="first">Thank you for choosing Sidec. We are committed to providing a secure and enriching learning experience.</p>
  
   </div>
        <a href="{% url 'login' %}" class="inline-btn" id="log">Login</a>
   
      
       
</div>
   
    

   
</body>
</html>
